blockquote {
  margin-left: 0;
  margin-top: 0;
  color: #3f83c7;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

img {
  width: 100%;
}

blockquote p {
  padding: 8px;
}

blockquote p:first-of-type  {
  font-weight: 300;
  font-style: italic;
  width: 100%;
  padding: 8px 8px 8px 8px;
  background-color: #0266c8;
  color: white;
}