/* p {
  margin: 0;
} */

.link {
  display: flex;
  box-sizing: border-box;
  color: #2e262e;
  text-decoration: none;
  padding: 1em 2em;
  font-size: 2em;
  border-bottom: 2px solid #0266c8;
  width: 100%;
  text-align: left;
}

.link:hover {
  color: white;
  background-color: #b28bc0;
}

.title {
  display: flex;
  text-decoration: none;
  color: #2e262e;
  padding: .5em 1em;
  font-size: 1.5em;
  justify-self: flex-start;
}

.title:hover {
  color: white;
}

.author {
  display: flex;
  flex-direction: row;
  padding: .5em 1em;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 0 .5em 0 .5em;
  color: #fff;
}

.item p {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  color: #2e262e;
}

@media screen and (max-width: 968px) {
  .link {
    font-size: 1em;
  }
  .title {
    font-size: 1em;
  }
}