.link {
  color: white;
  background-color: #0266c8;
  text-decoration: none;
  margin-right: 1em;
  padding: 14px;
  transition: .2s;
  border-radius: 5px;
}

.link:hover {
  color: white;
  background-color: #f195ac;
}