.pagination-controls {
  display: flex;
  padding: 1em;
  justify-content: center;
}

.pagination-controls__button {
  background-color: white;
  /* border-radius: 0.15em; */
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: default;
  margin: .5em .5em;
  padding: 0.5em 0.75em;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.12),
  0 2px 4px 0 rgba(0,0,0,0.08);
  transition: .3s;
}

.pagination-controls__button:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.pagination-controls__button--active {
  background-color: #4d7ea8;
  color: white;

  /* &:hover,
  &:hover:not(:active) {
    transform: none;
  } */
}
