.pagination-results {
  margin-bottom: .5em;
}

.bottom {
  width: 75%;
  margin: 0 auto 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts-bottom {
  display: flex;
  justify-content: flex-start;
}

.pagination-controls {
  display: flex;
  justify-content: center;
}

.pagination-controls__button {
  display: inline-block;
  background-color: white;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  cursor: default;
  margin: .0 .5em .5em 0;
  padding: 0.5em 0.75em;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.12),
  0 2px 4px 0 rgba(0,0,0,0.08);
  transition: .3s;
}

.pagination-controls__button:visited {
  color: #0266c8;
}

.pagination-controls__button:hover {
  cursor: pointer;
  transform: translateY(2px);
}

.pagination-controls__button--active {
  background-color: #0266c8;
  color: white;
}

.pagination-controls__button--active:visited {
  color: white;
}

@media screen and (max-width: 700px) {
  .bottom {
    width: 90%;
  }
}